<div class="box">
    <img src="assets\icon.png" class="img">
    <h2 class="name">PAYEER</h2>
    <div class="home">HOME</div>
    <div class="payement"><a (click)="payement()">PAYEMENT</a></div>
    <div class="historiqe">HISTORIQUE</div>
    <div class="settings">SETTINGS</div>
    <button class="login" (click)="login()">LOGIN</button>
    <button class="signin" (click)="signin()">SIGN IN</button>
</div>
<div class="main_holder">
   <div class="title">
      <h2>VOTRE</h2>
      <h2>PLATFORME</h2>
      <h5>DE PAYEMENT</h5>
      <h3>En Ligne</h3>
   </div>
   <div class="slider">
      <div class="item" (click)="payement()">
         <img src="assets/steg.png" alt="img" class="imag" >
      </div>
      <div class="item" (click)="payement()">
         <img src="assets/sonede.png" alt="img" class="imag">
      </div>
      <div class="item" (click)="payement()">
         <img src="assets/internet.png" alt="img" class="imag">
      </div>
   </div>
   <div class="slider2">
      <div class="item" (click)="payement()">
         <img src="assets/cnam.png" alt="img"  class="imag">
      </div>
      <div class="item" (click)="payement()">
         <img src="assets/cnss.png" alt="img" class="imag">
      </div>
      <div class="item" (click)="payement()">
         <img src="assets/assurance.png" alt="img" class="imag">
      </div>
   </div>
</div>